@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* 링크 디자인 */
a {
    color: #000;
    text-decoration: none;
}

/* 목록의 마커 제거 */
li {
    list-style: none;
}

/* border */
section,
footer,
section li,
#main_img h2,
#menu h3,
#menu img,
header:not(nav) {
    border: 1px solid #000;
}

img {
    border-bottom: 1px solid #000;
}

#news img {
    margin-bottom: 10px;
    border-top: 1px solid #000;
}

/* 겹치는 선 지움 */
.section #lineL {
    border-left: none;
}

#menu li {
    border: none;
}

section,
ul,
section li {
    border-bottom: none;
}

#menu,
#main_img {
    border-top: none;
}

li:nth-of-type(4) {
    border-right: none;
}

/* header */
header {
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0 32px;
    height: 54px;
}

/* 네비게이션 정렬 */
nav li {
    display: inline-block;
    margin: 16px;
}

/* section common */
section {
    width: 1496px;
    margin: 0 auto;
}

.section {
    padding-top: 81px;
}

.section h2 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.section h2+p {
    margin-bottom: 32px;
}

/* section 1 */
#main_img {
    position: relative;
}

#main_img h2 {
    position: absolute;
    padding: 8px 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* section 2,3 common */
ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section li {
    display: inline-block;
    width: 362px;
}

/* section 2 */
#menu {
    position: relative;
}

#menu h3 {
    position: absolute;
    padding: 5px;
}

#menu li:nth-of-type(1) {
    margin-bottom: 27px;
}

#menu ul { 
    margin-right: 0.5px;
}

#menu img {
    margin-bottom: -5px;
}

#menu h2 {
    margin-bottom: 48px;
}

/* section 3 */
#event li h3 {
    margin: 16px 0 8px;
}

#event li p {
    margin: 8px 0;
}

/* 이벤트 목록 버튼 디자인 */
#event li a {
    display: block;
    background: #ccc;
    text-align: center;
    padding: 8px 0;
}

/* section 4 */
/* input style */
input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #cecece;
}

/* botton style */
button {
    height: 36px;
    width: 160px;
    background: #000;
    border-style: none;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 48px;
}

button:hover {
    background-color: #d7d7d7;
    color: #000;
}

/* footer */
footer {
    text-align: center;
    padding: 32px;
}