@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Play&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css');

@import url('typo.css');
@import url('nav.css');
@import url('layout.css');


/* 헤더 */
#header {
    z-index: 999;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    /* background: rgb(255, 179, 0); */
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

/* 로고 */
.logo {
    text-align: center;
    letter-spacing: 0.8rem;
    line-height: 1;
    font-weight: 800;
}

.logo b {
    display: block;
    font-size: 2.2rem;
}

.logo span {
    font-size: 1.6rem;
}

/* 캐로셀 */
.bx-wrapper {
    box-shadow: none;
    border: none;
    background: transparent;
}

#slideWrap {
    position: relative;
    height: 100vh;
}

#slideWrap .slider li {
    padding: 150px 0;
    text-align: center;
    background: no-repeat 50% 60%;
    height: 100vh;
}

#slideWrap .slider li div {
    position: relative;
    top: 0px;
    opacity: 0;
    font-size: 2rem;
    line-height: 1.8;
}

#slideWrap .slider li div span {
    display: block;
    font-size: 3.5rem;
}

#slideWrap .slider li img {
    display: inline-block;
}

/* background */
#slideWrap .slider .bg1 {
    background-color: #008EF1;
    background-image: url(../images/carousel1.png);
}

#slideWrap .slider .bg2 {
    background-color: #FF8A4E;
    background-image: url(../images/carousel2.png);
}

#slideWrap .slider .bg3 {
    background-color: #c642ff;
    background-image: url(../images/carousel3.png);
}

#slideWrap .slider .bg4 {
    background-color: #ff4988;
    background-image: url(../images/carousel4.png);
}

/* prev/next */
#slideWrap .btn {
    z-index: 999;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 50px;
    transform: translateY(-50%);
    color: #fff;
}

#slideWrap .btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 5rem;
    transition: color 0.3s;
}

#slideWrap .btn a:hover {
    color: #F34E82;
}

#slideWrap #prev {
    left: 10%;
}

#slideWrap #next {
    right: 10%;
}

/* pager */
#slideWrap .pager {
    z-index: 999;
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#slideWrap .pager a {
    display: block;
    Width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}

#slideWrap .pager a img {
    /* 초기화(img : 100%)를 제거 */
    width: auto;
    opacity: 0;
    transform: translate(-40%, -40%);
    transition: 0.5s;
}

#slideWrap .pager a.active img {
    opacity: 1;
}


/* 섹션 2  */
#section2 {
    position: relative;
    background: url(../images/2023_summer1_pick_bg_1.jpg) no-repeat 50% 50%/cover fixed;
}

/* 고스트(ghost) 버튼 */
#section2 .btn {
    position: absolute;
    left: 600px;
    top: 670px;
    /* 투명 배경 */
    background: transparent;
    opacity: 0;
    transition: 3s;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px 18px;
}

#section2 .txt {
    position: absolute;
    width: 360px;
    transition: 2s;
    text-align: right;
}

#section2 .txt1 {
    left: -800px;
    top: 220px;
    height: 210px;
}

#section2 .txt2 {
    left: -400px;
    top: 448px;
    height: 160px;
}

#product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 800px;
    width: 882px;
    height: 554px;
}

#product>div {
    position: absolute;
    transition: .3s;
}

#product .prod1 {
    left: 50px;
    top: 90px;
    width: 255px;
    height: 350px;
    background: red;
    transform: rotate(-18deg);
}

#product>div:hover {
    z-index: 1;
    transform: scale(1.2);
}

#product .prod2 {
    left: 278px;
    top: 0;
    width: 250px;
    height: 350px;
    background: green;
}

#product .prod3 {
    left: 490px;
    top: 65px;
    width: 325px;
    height: 445px;
    background: blue;
    transform: rotate(18deg);
}