@charset 'utf-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css');

/* 오른쪽 내비게이션(인디케이터, 페이저) 버튼 색 */
#fp-nav ul li a span {
    background: #fff;
}

#section1 {
    background: #FF5F45;
}

#section2 {
    background: #0798EC;
}

#section3 {
    background: #FC6C7C;
}

#section4 {
    background: #FEC401;
}

#footer {
    background:#111;
    padding: 100px 0;
    color:#fff;
}